
.container {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 37.3%;
    left: 66%;
    transform: translate3d(0,0,0);

}

.content_lips {
    position: absolute;
    width: 20%;
    height: 10%;
    display: flex;
    top: 36%;
    left: 74.86%;
    align-items: center;
}
._lips {
    position: absolute;
    /*width: 70%;*/
    height: 70%;
}
.circle {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/*@media all and (max-width:1280px) {*/
/*    .container {*/
/*        position: absolute;*/
/*        width: 13%;*/
/*        height: 13%;*/
/*        top: 62.3%;*/
/*        left: 57%;*/
/*    }*/
/*}*/
@media all and (max-width:1024px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 62.3%;
        left: 57%;
    }
    .content_lips {
        top: 62%;
        left: 73.86%;
    }
}
@media all and (max-width:768px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 58.3%;
        left: 53%;
    }
    .content_lips {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 48%;
        left: 74.86%;
        align-items: center;
    }
}
@media all and (max-width:658px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 58.3%;
        left: 53%;
    }
    .content_lips {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 48%;
        left: 74.86%;
        align-items: center;
    }
}
@media all and (max-width:420px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 58.3%;
        left: 53%;
    }
    .content_lips {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 48%;
        left: 74.86%;
        align-items: center;
    }
}
@media all and (max-width:360px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 58.3%;
        left: 53%;
    }
    .content_lips {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 48%;
        left: 74.86%;
        align-items: center;
    }
}
