
.container {
    position: absolute;
    width: 10%;
    height: 10%;
    top: 40%;
    left: 46%;
    transform: translate3d(0,0,0);

}

.content_nose {
    position: absolute;
    width: 20%;
    height: 10%;
    display: flex;
    top: 39%;
    left: 29.66%;
    align-items: center;
}
._nose {
    position: absolute;
    /*width: 70%;*/
    height: 70%;
}
.circle {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

@media all and (max-width:1440px) {
    .content_nose {
        left: 26.5%;
    }
}

@media all and (max-width:1280px) {
    .content_nose {
        left: 26.66%;
    }
}
@media all and (max-width:1024px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 50%;
        left: 33%;
    }
    .content_nose {
        top: 50%;
        left: 6.66%;
    }
}
@media all and (max-width:768px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 50%;
        left: 33%;
    }
    .content_nose {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 50%;
        left: 5.66%;
        align-items: center;
    }
}
@media all and (max-width:658px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 50%;
        left: 33%;
    }
    .content_nose {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 50%;
        left: 5.66%;
        align-items: center;
    }
}
@media all and (max-width:420px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 50%;
        left: 33%;
    }
    .content_nose {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 50%;
        left: 5.66%;
        align-items: center;
    }
}
@media all and (max-width:360px) {
    .container {
        position: absolute;
        width: 13%;
        height: 13%;
        top: 50%;
        left: 33%;
    }
    .content_nose {
        position: absolute;
        width: 20%;
        height: 10%;
        display: flex;
        top: 50%;
        left: 5.66%;
        align-items: center;
    }
}
