.container {
    position: absolute;
    width: 6%;
    height: 3%;
    top: 39.33%;
    left: 72%;
    overflow: hidden;
}

.line {
    margin: 0;
    padding: 0;
    transform: translateY(200);
    cursor: pointer;
}

@media all and (max-width:1024px) {
    .container {
        position: absolute;
        width: 6%;
        height: 6%;
        top: 64.33%;
        left: 67%;
        overflow: hidden;
    }
}
@media all and (max-width:768px) {
    .container {
        position: absolute;
        width: 6%;
        height: 6%;
        top: 61.3%;
        left: 63%;
        overflow: hidden;
    }
}
@media all and (max-width:658px) {
    .container {
        position: absolute;
        width: 6%;
        height: 6%;
        top: 61.3%;
        left: 63%;
        overflow: hidden;
    }
}
@media all and (max-width:420px) {
    .container {
        position: absolute;
        width: 6%;
        height: 6%;
        top: 61.3%;
        left: 63%;
        overflow: hidden;
    }
}
@media all and (max-width:360px) {
    .container {
        position: absolute;
        width: 6%;
        height: 6%;
        top: 61.3%;
        left: 63%;
        overflow: hidden;
    }
}